</head>
<body>
    {{>navigation}}
    <div class="container">
        <div><h2 class="fst-italic">Denuncias realizadas por los usuarios</h2></div>
        <div class="mt-5 mb-5">
        <form action="" onsubmit="event.preventDefault()">
            <div><h3>Buscar por:</h3></div>
            <div class="row g-3">
                <div class="col-md">
                    <div class="form-floating">
                    <input type="text" class="form-control" id="emprendimiento" name="nombreemprendimiento">
                    <label for="emprendimiento">Nombre</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                    <select class="form-select" id="Motivo" name="motivo" aria-label="Floating label select example">
                        <option value='Todos'selected>Todos</option>
                        <option value='Insalubridad'>Insalubridad</option>
                        <option value='Lugar Inexistente'>Lugar Inexistente</option>
                        <option value='Malos Tratos'>Malos Tratos</option>
                        <option value='Otro'>Otro</option>
                    </select>
                    <label for="Motivo">Motivo de la denuncia</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                    <select class="form-select" id="Categoria" name="categoria" aria-label="Floating label select example">
                        <option value='"A","T"'selected>Todas</option>
                        <option value='"A"'>Alojamientos</option>
                        <option value='"T"'>Tours</option>
                    </select>
                    <label for="Categoria">Categoría</label>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" onclick="buscarDen()">Buscar</button>
                </div>
            
            </div>
        </form>
        </div>
        <div>
            <p class="fs-5 fst-italic" id="noencontrado"></p>
            <h6 class="fw-ligth text-end" id="cantidadDenuncias">Cantidad de denuncias: {{[1]}}</h6>
        </div>
        <table class="table">
            <thead id='cabeceraTabla'>
                <tr>
                <th scope="col">Nro Denuncia</th>
                <th scope="col">Emprendimiento Denunciado</th>
                <th scope="col">Categoria</th>
                <th scope="col">Motivo</th>
                <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody id='cuerpoTabla'>
                {{#each [0].denuncias}}
                    <tr>
                    <th scope="row" class="text-center">{{nroDenuncia}}</th>
                        <td>{{nombreemprendimiento}}</td>
                        <td>{{categoria}}</td>
                        <td>{{motivo}}</td>
                        <td>{{descripcion}}</td>
                    </tr>
                {{else}}
                    <h5 class="text-center m-2">No se han encontrado resultados</h5>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script src="/js/buscarDenuncias.js"></script>