    <link rel="stylesheet" href="/css/stylesDetails.css">
</head>
<body> 
    {{>navigation}}   
        <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
        <div class="container-fluid mt-2 mb-3">
            <div class="row no-gutters">
                <div class="col-md-5 pr-2">
                    <div class="card">
                        <div class="demo">
                            <ul id="lightSlider">
                                <li data-thumb="{{solo.link}}"> <img class="imgBig" src="{{solo.link}}" /> </li>
                                <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img class="imgBig" src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img class="imgBig" src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img class="imgBig" src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img class="imgBig" src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img class="imgBig" src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img class="imgBig" src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img class="imgBig" src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img class="imgBig" src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img class="imgBig" src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img class="imgBig" src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img class="imgBig" src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img class="imgBig" src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img class="imgBig" src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                                <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img class="imgBig" src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="comment-box ml-2">
                            <h4>Califica este sitio</h4>
                            <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5" style="color:#FFD700";>☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4" style="color:#FFD700";>☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3" style="color:#FFD700";>☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2" style="color:#FFD700";>☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1" style="color:#FFD700";>☆</label> 
                            </div>
                            <div class="comment-area">
                                <textarea class="form-control" placeholder="Cual es tu opinion?" rows="4"></textarea> 
                            </div>
                            <div class="comment-btns mt-2">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-success" id="reserva">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="d-md-flex align-items-md-center">
                            <div class="name">{{solo.nombreemprendimiento}}<span class="city"> {{solo.ubicacion}}</span> </div>     
                        </div>
                        <div class="about pb-3 pt-3">
                            <h4 class="font-weight-bold">{{solo.precionoche}}$</h4>
                        </div>
                        <div class="d-grid gap-2 d-md-block mb-2">
                            {{!-- <a class="btn btn-danger text-uppercase mx-2" id="Denuncias" href="#" role="button">DENUNCIAS</a> --}}
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#denuncia">
                                <i class="fas fa-flag"></i> Denunciar
                            </button>
                            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#tarjeta" aria-expanded="false" aria-controls="tarjeta" onclick="document.getElementById('tarjeta').removeAttribute('hidden')">
                                <i class="far fa-calendar-check"></i> Reservar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="denuncia" tabindex="-1" aria-labelledby="denunciaLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="denunciaLabel">Denunciar al emprendimiento {{solo.nombreemprendimiento}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/alojamientos/denunciar" method="post">
                                        <div class="form-floating">
                                            <select class="form-select" id="motivoDenuncia" name="motivo" aria-label="Floating label select example" required>
                                                <option selected disabled value>Selecciona</option>
                                                <option>Insalubridad</option>
                                                <option>Lugar Inexistente</option>
                                                <option>Incumplimiento de la reserva</option>
                                                <option>Otro</option>
                                            </select>
                                            <label for="motivoDenuncia">Motivo por el cual realiza la denuncia</label>
                                        </div>
                                        <div class="form-floating mt-2">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="denunciadescripcion" name="descripcion" style="height: 200px"></textarea>
                                            <label for="denunciadescripcion">¿Podría explicarnos un poco más sobre el incoveniente?</label>
                                            <input type="hidden" name="id_emprendimiento" value={{emprendimiento.id_emprendimiento}}>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </form>
                                </div>

                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card text-center" id="tarjeta" hidden>
                                <div class="card-header fw-bold fs-3">
                                    Soy Humano, ¡Quiero Reservar!
                                    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#info" aria-expanded="false" aria-controls="info">
                                        <i class="fas fa-question-circle"></i>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="collapse" id="info">
                                        <div class="alert alert-primary">
                                            <p><i class="fas fa-info-circle"></i> Para verificar que realmente estas interasado y eres humano te solicitamos que ingreses una tarjeta de crédito, pero tranquilo no te cobraremos nada. Pagarás todo cuando llegues.</p>
                                        </div>
                                    </div>
                                    <p class="card-text">Selecciona la entidad emisora de tu tarjeta:</p>
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <div class="form-check form-check-inline">
                                        <input type="radio" class="btn-check" name="btnradio" id="visa" autocomplete="off">
                                        <label class="btn btn-outline-primary btn-lg" for="visa"><img src="https://cdn-icons-png.flaticon.com/512/349/349221.png" alt="Visa" width="40%"></label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                        <input type="radio" class="btn-check" name="btnradio" id="mastercard" autocomplete="off">
                                        <label class="btn btn-outline-primary btn-lg" for="mastercard"><img src="https://res.cloudinary.com/turistick/image/upload/v1635403218/Global/FINAL-LOGO-123_vqktwc.jpg" alt="Mastercard" width="53%"></label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                        <input type="radio" class="btn-check" name="btnradio" id="amex" autocomplete="off">
                                        <label class="btn btn-outline-primary btn-lg" for="amex"><img src="https://cdn-icons-png.flaticon.com/512/349/349228.png" alt="American Express" width="40%" height="15%"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mt-2"> 
                                        <label for="numeric" class="form-label" >Nombre y Apellido del Titular</label> 
                                        <input type="text" class="input-lg form-control" id="nombre" placeholder="Juan Pérez" required> 
                                    </div>
                                    <div class="form-group mt-2"> 
                                        <label for="cc-number" class="form-label">Número de Tarjeta de Crédito</label> 
                                        <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="1234 1234 1234 1234" required> 
                                    </div>
                                    <div class="row mt-2 mb-4">
                                        <div class="col-md-6">
                                            <div class="form-group"> 
                                                <label for="cc-exp" class="form-label">Fecha de Expiración</label> 
                                                <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" maxlength="7" autocomplete="cc-exp" placeholder="MM / AA" required> 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="cc-cvc" class="form-label">Clave de Seguridad</label> <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="••••" required> </div>
                                        </div>
                                    </div>
                                    
                                    <div class="d-grid gap-2"> 
                                        <button type="button" id="comprobar" class="btn btn-success" onclick="reserva()">Comprobar</button>
                                    </div>
                                </div>
                        </div>
                        <div class="modal fade" id="reservacion" tabindex="-1" aria-labelledby="reservaLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reservaLabel"><i class="fas fa-concierge-bell"></i> Reservar en</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div> 
                                <form action="/alojamientos/reservas" method="post">
                                    <div class="modal-body">
                                        <p class="fw-bold fs-3 text-center">{{solo.nombreemprendimiento}}</p>
                                        <div class="row g-2 ml-10 mr-10">
                                            <input type="hidden" name="id_emprendimiento" value={{emprendimiento.id_emprendimiento}}>
                                            <input type="hidden" name="id_usuario" value="2">
                                            <div class="col ml-10">
                                                <div class="form-floating mb-3">
                                                    <input type="date" class="form-control form-control-lg" name="fechainicio" id="fechainicio" onchange="validarInicial()" required>
                                                    <label for="fechainicio">Fecha Inicial Reserva</label>
                                                    <p id='fi-invalida' class="text-danger fw-bold text-center" hidden><i class="fas fa-times"></i> Fecha NO válida</p>
                                                    <p id='fi-menor' class="text-danger fw-bold text-center" hidden><i class="fas fa-times"></i> La fecha seleccionada es menor a la fecha actual</p>
                                                </div>
                                            </div>
                                            <div class="col mr-10">
                                                <div class="form-floating mb-3">
                                                    <input type="date" class="form-control form-control-lg" name="fechafin" id="fechafinal" onchange="validarFinal()" required>
                                                    <label for="fechafinal">Fecha Final Reserva</label>
                                                    <p id='ff-invalida' class="text-danger fw-bold" hidden><i class="fas fa-times"></i> Fecha NO válida</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating">
                                            <input type="time" class="form-control" placeholder="Hora Estimada de Llegada" name="horario" id="hora" value="09:00" required>
                                            <label for="hora">Hora Estimada de Llegada</label>
                                        </div>
                                        <div class="form-floating mt-3">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="comentario" name="comentario" style="height: 250px" maxlength="500" onkeyup="contarCaracteres()"></textarea>
                                            <label for="comentario">Comentario</label>
                                        </div>
                                        <div>
                                            <p class="text-end fw-ligth" id='contador'>0/500</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-success">Reservar</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        {{!-- <hr> --}}
                        <div class="product-description">
                            <!--<div class="d-flex flex-row align-items-center"> <i class="fa fa-calendar-check-o"></i> <span class="ml-1">{{solo.tipoalojamiento}}</span> </div>-->
                            <div class="mt-2"> <span class="font-weight-bold">Descripcion</span>
                                <p>{{solo.descripcion}}</p>
                                <div class="bullets">
                                    {{#if solo.piscina}}
                                        <div class="d-flex align-items-center"> <span class="dot color-red"></span> <span class="bullet-text">Piscina disponible las 24hs</span> </div>
                                    {{/if}}
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Capacidad para {{solo.capacidadestacionamientos}} estacionamientos</span> </div>
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Capacidad disponible de {{solo.capacidadhabitaciones}} habitaciones</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2"> <span>Otros hospedajes:</span>
                        <div class="similar-products mt-2 d-flex flex-row">
                            {{#each infoOtros}}
                                <a class="imagenes" href="/alojamientos/detalles/{{idalojamiento}}">
                                    <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="{{link}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h6 class="card-title">{{precionoche}}$</h6>
                                        </div>
                                    </div>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
        <script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
        <script>
            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9
            });
        </script>    
    <script>
        const linkactivo=document.getElementById("Detalles")
        linkactivo.classList.add('active')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js"></script>
    <script src="/js/tarjeta.js"></script>
    <script src="/js/fecha.js"></script>
    <script src="/js/reserva.js"></script>