    <link rel="stylesheet" href="/css/stylesDetails.css">
</head>
<body> 
    {{>navigation}}   
        <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
        <div class="container-fluid mt-2 mb-3">
            <div class="row no-gutters">
                <div class="col-md-5 pr-2">
                    <div class="card">
                        <div class="demo">
                            <ul id="lightSlider">
                                {{#each imag}}
                                    <li data-thumb="{{link}}"> <img class="imgBig" src="{{link}}" /> </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                   
                    <div class="card mt-2">
                        <p class="text-center fs-4 fw-bold">Calificación Promedio dada por los usuarios</p>
                        {{#if promedioCalificacion}}
                            <p class="text-center fw-bold fs-4">{{promedioCalificacion}}⭐</p>
                        {{else}}
                            <p class="text-center">Este alojamientos aún no ha recibido calificaciones. ¡Sé el primero en dar una!</p>
                        {{/if}}
                        <hr>
                        {{#if user}}
                            {{#if calificacionU}}
                                <div class="comment-box ml-2" id="calificacionUsuario">
                                    <h4>Tu calificación a este sitio: {{calificacionU.puntuacion}}⭐</h4>
                                    <p class="fs-5">
                                        <span class="fw-bold"><i class="fas fa-comment-dots"></i> El comentario que dejaste: </span> 
                                        <span class="fst-italic text-muted">{{calificacionU.comentario}}</span>
                                    </p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a class="btn btn-danger me-md-2" role="button" href="/alojamientos/eliminarCalificacion/{{calificacionU.idcalificacion}}/{{solo.idalojamiento}}">Eliminar</a>
                                        <button class="btn btn-warning" type="button" onclick="modificarCalificacion({{emprendimiento.id_emprendimiento}},{{calificacionU.puntuacion}},'{{calificacionU.comentario}}',{{calificacionU.idcalificacion}},{{solo.idalojamiento}})">Modificar</button>
                                    </div>
                                </div>
                                <div class="comment-box ml-2" id="modificacion"></div>
                            {{else}}
                                <div class="comment-box ml-2" id="ventanaCalificacion">
                                    <h4>Califica este sitio</h4>
                                    <form action="/alojamientos/calificar" method="post" name="calificacionsitio" onsubmit="event.preventDefault()">
                                    <input type="text" name="idemprendimiento" value="{{emprendimiento.id_emprendimiento}}" hidden>
                                    <div class="rating"> 
                                        <input type="radio" class="estrella" name="puntuacion" value="5" id="5"><label for="5">☆</label>
                                        <input type="radio" class="estrella" name="puntuacion" value="4" id="4"><label for="4">☆</label>
                                        <input type="radio" class="estrella" name="puntuacion" value="3" id="3"><label for="3">☆</label>
                                        <input type="radio" class="estrella" name="puntuacion" value="2" id="2"><label for="2">☆</label>
                                        <input type="radio" class="estrella" name="puntuacion" value="1" id="1"><label for="1">☆</label>
                                    </div>
                                    <div class="comment-area">
                                        <textarea class="form-control" id="comentario" name='comentario' placeholder="¿Cuál es tu opinion?" rows="4"></textarea> 
                                    </div>
                                    <div class="comment-btns mt-2">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button type="reset" class="btn btn-secondary" onclick="borrarCalificacion()">Cancelar</button>
                                            <button type="button" class="btn btn-success" id="reserva" onclick="enviarCalificacion({{emprendimiento.id_emprendimiento}})">Enviar</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            {{/if}}
                        {{else}}
                            <p class="text-center fst-italic">Iniciá Sesión o Registrate para calificar este sitio</p>
                            <a role="button" class="btn btn-primary" href="/signin">Iniciar Sesión</a>
                            <a role="button" class="btn btn-success mt-2" href="/signup">Registrarse</a>
                        {{/if}}
                        <hr>
                        <ul class="list-group">
                            {{#each reviews}}
                            <li class="list-group-item">
                                <p class="fw-bold"><i class="fas fa-user"></i> {{nombre}} {{apellido}}: {{puntuacion}}⭐</p>
                                <p>
                                    <span class="fw-bold"><i class="fas fa-comment-dots"></i> Comentario: </span> 
                                    <span class="fst-italic text-muted">{{comentario}}</span>
                                </p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <p class="text-muted fst-italic"><span style="color: #ed302f;"><i class="fas fa-map-marker"></i></span> {{solo.ubicacion}}, {{loc}} </p> 
                        <div class="d-md-flex align-items-md-center">
                            <div class="name"><p class="fs-3">{{solo.nombreemprendimiento}}</p> </div> 
                        </div>
                        <div class="about pb-3 pt-3">
                            <h4 class="font-weight-bold">$ {{solo.precionoche}}</h4>
                        </div>
                        <div class="d-grid gap-2 d-md-block mb-2">
                            {{!-- <a class="btn btn-danger text-uppercase mx-2" id="Denuncias" href="#" role="button">DENUNCIAS</a> --}}
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#denuncia">
                                <i class="fas fa-flag"></i> Denunciar
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="denuncia" tabindex="-1" aria-labelledby="denunciaLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="denunciaLabel">Denunciar al emprendimiento {{solo.nombreemprendimiento}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/alojamientos/denunciar" method="post">
                                        <div class="form-floating">
                                            <select class="form-select" id="motivoDenuncia" name="motivo" aria-label="Floating label select example" required>
                                                <option selected disabled value>Selecciona</option>
                                                <option>Insalubridad</option>
                                                <option>Lugar Inexistente</option>
                                                <option>Malos Tratos</option>
                                                <option>Otro</option>
                                            </select>
                                            <label for="motivoDenuncia">Motivo por el cual realiza la denuncia</label>
                                        </div>
                                        <div class="form-floating mt-2">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="denunciadescripcion" name="descripcion" style="height: 200px"></textarea>
                                            <label for="denunciadescripcion">¿Podría explicarnos un poco más sobre el incoveniente?</label>
                                            <input type="hidden" name="id_emprendimiento" value={{emprendimiento.id_emprendimiento}}>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </form>
                                </div>

                                </div>
                            </div>
                            </div>
                        </div>
                        
                        {{!-- <hr> --}}
                        <div class="product-description">
                            <!--<div class="d-flex flex-row align-items-center"> <i class="fa fa-calendar-check-o"></i> <span class="ml-1">{{solo.tipoalojamiento}}</span> </div>-->
                            <div class="mt-2"> <span class="fw-bold">Descripcion</span>
                                <p>{{solo.descripcion}}</p>
                                <div class="bullets">
                                    {{#if solo.piscina}}
                                        <div class="d-flex align-items-center"> <span class="dot color-red"></span> <span class="bullet-text">Piscina disponible las 24hs</span> </div>
                                    {{/if}}
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Capacidad para {{solo.capacidadestacionamientos}} estacionamientos</span> </div>
                                    <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Capacidad disponible de {{solo.capacidadhabitaciones}} habitaciones</span> </div>
                                </div>
                                <div class="mt-2"> <span class="fw-bold">Actividades que ofrece</span>
                                    {{#each actividades}}
                                        <p><span style="color: cadetblue;"><i class="fas fa-check-circle"></i></span> {{nombre}}</p>
                                    {{/each}}
                                </div>
                                <div class="mt-2"> <span class="fw-bold">Contactos y redes sociales</span>
                                <br>
                                <p class="fs-5 fw-bold"><i class="fas fa-phone"></i> {{duenoindividual.nombre}} {{duenoindividual.apellido}}: {{solo.telefono}}</p>
                                <a class="btn btn-primary" style="background-color: #3b5998;" href="{{solo.facebook}}" role="button"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary" style="background-color: #ac2bac;" href="{{solo.instagram}}" role="button"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-primary" style="background-color: #ed302f;" href="{{solo.youtube}}" role="button"><i class="fab fa-youtube"></i></a>
                                {{!-- <a class="btn btn-primary" style="background-color: #25d366;" href="{{solo.telefono}}" role="button"><i class="fab fa-whatsapp"></i></a> --}}
                                <br>
                            </div>
                        </div>
                        <div>
                            <p class="fw-bold fs-6 mt-2">Ubicación</p>
                            <div class="text-center" style="width: 100%"><iframe width="95%" height="525" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{urlmap}},%20Jujuy+(Emprendimiento)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="http://www.gps.ie/">gps systems</a></iframe></div>
                        </div>
                    </div>
                    
                    <div class="card mt-2"> <span class="fw-bold">Otros hospedajes:</span>
                        <div class="similar-products mt-2 d-flex flex-row">
                            {{#each infoOtros}}
                                <a class="imagenes" href="/alojamientos/detalles/{{idalojamiento}}">
                                    <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="{{link}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h6 class="card-title">{{precionoche}}$</h6>
                                        </div>
                                    </div>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
        <script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
        <script>
            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9
            });
        </script>    
    <script>
        const linkactivo=document.getElementById("Alojamientos")
        linkactivo.classList.add('active')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/gestionCalificaciones.js"></script>