    <link rel="stylesheet" href="css/styleSearchActivity.css">
</head>
<body>
    {{>navigation}}   
    <h2 class="text-center fst-italic mt-3">Descubre a nuestros anfitriones</h2>
    <div class="wrapper">
        <div class="container">
        <div class="d-flex justify-content-between mt-3">
            <h4>Selecciona las actividades que te gustaría realizar con tu anfitrión</h4>
            <div class="input-group mb-3" style="width: 15rem;">
                <input type="text" class="form-control" placeholder="¿Qué actividad buscas?" aria-label="¿Quá actividad buscas" aria-describedby="button-addon2" id="nombreAct" onkeyup="busquedaRapida('A')">
                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fab fa-searchengin"></i></button>
            </div>
        </div>
        <div class="cols" id="contenedorTarjetas">
            {{!-- <div class="row-cols-1 row-cols-sm-2 row-cols-md-4"></div> --}}
                {{#each actividades}}
                  <div class="col2" ontouchstart="this.classList.toggle('hover');">
                      <div class="container2">
                          <div class="front" style="background-image: url({{link}})">
                              <div class="inner">
                                  <p>{{nombre}}</p>
                                    <span>Ver</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                <p>{{introduccion}}</p>
                                <a class="btn btn-primary" href="/alojamientos/actividades/{{idactividades}}" role="button">Conocer más</a>
                              </div>
                          </div>
                      </div>
                      <div class="text-center fst-italic">
                        <input type="checkbox" name="act{{idactividades}}" id="act{{idactividades}}" class="check" onclick="cambioInput()">
                         <label class="m-2" for="act{{idactividades}}"> ¡Quiero {{nombre}}!</label>
                   </div>
                  </div>
                {{/each}}
            </div>

            <form action="/alojamientos/resultados" method="post">
                <input type="text" name="actividades" id="inputactividades" hidden>
                <div class="d-grid gap-2 mb-5">
                <button class="btn btn-primary" type="submit" id="botonSubmit"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </form>
       </div>
    </div>
    <script src="/js/busquedasrapidas.js"></script>
    <script>
        const linkactivo=document.getElementById("Alojamientos")
        linkactivo.classList.add('active')
    </script>