    <link rel="stylesheet" href="/css/stylesSearch.css">
</head>
<body> 
    {{>navigation}}   
    <h2 class="text-center fst-italic mt-3">Descubre a nuestros anfitriones</h2>
    <div class="container my-sm-3 p-0 bg-sec-light">
        <div id="content">
            <div class="searchs">
                {{!-- <form action="/alojamientos/buscar" method="post"> --}}
                        {{!-- <div class="row g-2 text-center" hidden>
                            <div class="col">
                                <input class="form-check-input" type="checkbox" name="cualquierfecha" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Cualquier Fecha
                                </label>
                            </div>
                        </div> --}}
                    <form action="/alojamientos/buscar" method="post">
                        <div class="row g-2">
                            <div class="col-md m-2">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control form-control-lg" name="fechainicio" id="fechainicio" onchange="validarInicial()" required>
                                    <label for="fechainicio">Fecha Inicial Reserva</label>
                                    <p id='fi-invalida' class="text-danger fw-bold text-center" hidden><i class="fas fa-times"></i> Fecha NO válida</p>
                                    <p id='fi-menor' class="text-danger fw-bold text-center" hidden><i class="fas fa-times"></i> La fecha seleccionada es menor a la fecha actual</p>
                                </div>
                            </div>
                            <div class="col mr-10">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control form-control-lg" name="fechafinal" id="fechafinal" onchange="validarFinal()" required>
                                    <label for="fechafinal">Fecha Final Reserva</label>
                                    <p id='ff-invalida' class="text-danger fw-bold" hidden><i class="fas fa-times"></i> Fecha NO válida</p>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md m-2">
                                <div class="form-floating">
                                    <input class="form-control" list="datalistOptions" id="localidadlista" onchange="colocarLocalidad()"
                                    aria-label="Que localidad quieres visitar" />
                                    <datalist id="datalistOptions">
                                        {{>localidades}}
                                    </datalist>
                                    <label for="localidadlista"><i class="fas fa-bed"></i>¿A donde quieres hospedarte?</label>
                                    <input type="hidden" name="localidad" id="locinput">
                                </div>
                            </div>
                            <div class="col-md m-2">
                                <div class="form-floating">
                                    <select class="form-select" id="tipoalojamiento" aria-label="Floating label select example" name="tipoalojamiento">
                                        <option selected>Todos</option>
                                        <option>Casa</option>
                                        <option>Cabaña</option>
                                        <option>Departamento</option>
                                        <option>Habitación</option>
                                    </select>
                                    <label for="tipoalojamiento"><i class="fas fa-home"></i>Tipo de Alojamientos</label>
                                </div>
                            </div>
                            <div class="col-md m-2">
                                <div class="form-floating">
                                    <input class="form-control form-control-lg" id="huespedes" type="number" min="1" max="99" placeholder="Huéspedes" name="capacidadhuespedes" aria-label="Huéspedes" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<1){this.value='1';}">
                                    <label for="huespedes"><i class="fas fa-users"></i> Huéspedes</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 m-2">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Buscar</button>
                        </div>
                </form>
            </div>
            {{#if buscar}}
            <div id="barra-resultado">
                <p class="fst-italic text-center">Resultados para alojamiento entre {{fechainicio}} y {{fechafinal}} 
                    {{#if localidad}}
                    en {{localidad}} 
                    {{/if}}
                    {{#if aloj}}
                    del tipo {{aloj}}
                    {{/if}} 
                    {{#if capacidadhuespedes}}
                    para {{capacidadhuespedes}} personas
                    {{/if}}</p>
            </div>
            {{/if}}
            {{#if infoAlojamientos}}    
            <div class="d-sm-flex">
                <div class="me-sm-2">
                    <div id="filter" class="p-2 bg-light ms-md-4 ms-sm-2 border">
                        <div class="border-bottom h5 text-uppercase">Mejora tu Búsqueda</div>
                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">Precio <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#inner-box" aria-expanded="false" aria-controls="inner-box"> <span class="fas fa-plus"></span> </button> </div>
                            <div id="inner-box" class="collapse show">
                                <div class="my-1"> <label class="tick">Menos que 2000 <input type="radio" name="precio" checked="checked"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">2000 - 3000 <input type="radio" name="precio"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">3000 - 4500 <input type="radio" name="precio"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">4500 - 6000 <input type="radio" name="precio"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">6000 - 8000 <input type="radio" name="precio"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">8000 -10,000 <input type="radio" name="precio" > <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">Mas que 10,000<input type="radio" name="precio"> <span class="check"></span> </label> </div>
                            </div>
                        </div>
                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">Piscina <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#property" aria-expanded="false" aria-controls="property"> <span class="fas fa-plus"></span> </button> </div>
                            <div id="property" class="collapse">

                                <div class="my-1"> <label class="tick">Si <input type="radio" name="piscina" checked="checked"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">No <input type="radio" name="piscina"> <span class="check"></span> </label> </div>
                            </div>
                        </div>
                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">Estacionamiento <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#amenities" aria-expanded="false" aria-controls="amenities"> <span class="fas fa-plus"></span> </button> </div>
                            <div id="amenities" class="collapse show">
                                <div class="my-1"> <label class="tick">Si <input type="radio" name="estacionamiento" checked="checked"> <span class="check"></span> </label> </div>
                                <div class="my-1"> <label class="tick">No<input type="radio" name="estacionamiento"> <span class="check"></span> </label> </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="bg-white p-2 border" id="hotels">
                    {{#each infoAlojamientos}}
                        <div class="hotel py-2 px-2 pb-4 border-bottom">
                            <div class="row">
                                <div class="col-lg-3"> <img src="{{link}}" alt="" class="hotel-img"> </div>
                                <div class="col-lg-9">
                                    <div class="d-md-flex align-items-md-center">
                                        <div class="name">{{nombreemprendimiento}}<span class="city"> {{ubicacion}}</span> </div>
                                        <div class="ms-auto code text-uppercase fw-bold fs-4">${{precionoche}}</div>
                                    </div>
                                    <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> <!-- Book now Enquiry -->
                                    </div>
                                    <div class="d-flex flex-column tags pt-1">
                                        <div><span class="fas fa-car"></span> Parking disponibles {{capacidadestacionamientos}}</div>
                                        {{#if piscina}}
                                            <div><span class="fas fa-swimming-pool"></span> Piscina disponible</div>
                                        {{/if}}
                                        <div><span class="fas fa-door-open"></span> Habitaciones disponibles {{capacidadhabitaciones}}</div>
                                        <div><span class="fas fa-home"></span> {{tipoalojamiento}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-1">
                                <a class="btn btn-primary text-uppercase mx-2" id="Detalles" href="/alojamientos/detalles/{{idalojamiento}}" role="button" method="GET">VER</a>
                                <div class="btn enquiry text-uppercase" href="#">RESERVAR</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <script src="/js/buscar.js"></script>
    <script>
        const linkactivo=document.getElementById("Alojamientos")
        linkactivo.classList.add('active')
    </script>