    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <style>
      .swiper {
        width: 80%;
        height: 75%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
</head>
<body>
    {{>navigationAdm}}
    <div class="container">
        <div>
            <p class="fs-4 fw-bold">Solicitud Aprobada de {{usuarioInd.nombre}} {{usuarioInd.apellido}}</p>
            <p class="fs-4 fw-bold">Emprendimiento: {{emp.nombreemprendimiento}}</p>
        </div>
        <div class="card mb-3">
            <p class="card-header">Información Personal del Emprendedor</p>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="nombre" class="col-sm-2 col-form-label text-center">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="nombre" value="{{usuarioInd.nombre}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="apellido" class="col-sm-2 col-form-label text-center">Apellido</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="apellido" value="{{usuarioInd.apellido}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-2 col-form-label text-center">Email</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="email" value="{{usuarioInd.email}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="cuil" class="col-sm-2 col-form-label text-center">CUIL</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="cuil" value="{{emprendedorInd.cuil}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <p class="card-header">Información General del Emprendedimiento</p>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="nombreemprendimiento" class="col-sm-3 col-form-label text-center">Nombre del Emprendimiento</label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control" id="nombreemprendimiento" value="{{emp.nombreemprendimiento}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-11">
                        <div class="mb-3 row">
                            <div class="input-group">
                                <span class="input-group-text col-sm-2 col-form-label pl-5" style="background-color:white;padding-left: 4%;border:white">Ubicación</span>
                                <input type="text" readonly aria-label="Direccion" class="form-control" value="{{emp.ubicacion}}">
                                <input type="text" readonly aria-label="Localidad" class="form-control" value="{{locUnica.nombrelocalidad}}">
                                <input type="text" readonly aria-label="Departamento" class="form-control" value="{{locUnica.departamento}}">
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <p style="margin-left: 3rem;">Imágenes</p>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <div class="swiper mySwiper" >
                                <div class="swiper-wrapper">
                                    {{#each imagenes}}
                                        <div class="swiper-slide"><img height="400px" src="{{link}}"> </div>
                                    {{/each}} 
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <div class="col-sm-11" style="margin-left: 3rem;">
                                <label for="descripcion" class="form-label">Descripción</label>
                                <textarea class="form-control" readonly id="descripcion" rows="5" style="width: 96%;">{{emp.descripcion}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="categoria" class="col-sm-2 col-form-label text-center">Categoría</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="categoria" disabled>
                                <option value="Alojamiento" selected>{{emp.categoria}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="telefono" class="col-sm-2 col-form-label text-center">Teléfono</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="telefono" value="{{contactoUnico.telefono}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="facebook" class="col-sm-2 col-form-label text-center">Facebook</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="facebook" value="{{contactoUnico.facebook}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="instagram" class="col-sm-2 col-form-label text-center">Instagram</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="instagram" value="{{contactoUnico.instagram}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="youtube" class="col-sm-2 col-form-label text-center">Youtube</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" id="youtube" value="{{contactoUnico.youtube}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <p class="card-header">Información Específica del Emprendimiento</p>
            <div class="card-body">
                {{#if control}}
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="precioNoche" class="col-sm-4 col-form-label text-center">Precio por noche</label>
                            <div class="col-sm-7">
                                <input type="number" readonly class="form-control" id="precioNoche" value="{{datosEspecificos.precionoche}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="huespedes" class="col-sm-5 col-form-label text-center">Capacidad Huéspedes</label>
                            <div class="col-sm-5">
                                <input type="number" readonly class="form-control" id="huespedes" value="{{datosEspecificos.capacidadhabitaciones}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="tipoAlojamiento" class="col-sm-4 col-form-label text-center">    Tipo de Alojamiento</label>
                            <div class="col-sm-7">
                                <input type="text" readonly class="form-control" id="tipoAlojamiento" value="{{datosEspecificos.tipoalojamiento}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="estacionamiento" class="col-sm-5 col-form-label text-center">Capacidad Estacionamiento</label>
                            <div class="col-sm-5">
                                <input type="text" readonly class="form-control" id="estacionamiento" value="{{datosEspecificos.capacidadestacionamientos}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="piscina" class="col-sm-4 col-form-label text-center">Piscina</label>
                            <div class="col-sm-7">
                                <input type="text" readonly class="form-control" id="piscina" value="{{datosEspecificos.piscina}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="vista" class="col-sm-5 col-form-label text-center">Vista</label>
                            <div class="col-sm-5">
                                <input type="text" readonly class="form-control" id="vista" value="{{datosEspecificos.vista}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="hornoBarro" class="col-sm-4 col-form-label text-center">Horno de Barro</label>
                            <div class="col-sm-7">
                                <input type="text" readonly class="form-control" id="hornoBarro" value="{{datosEspecificos.hornobarro}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="animalesAutoctonos" class="col-sm-5 col-form-label text-center">Animales autóctonos</label>
                            <div class="col-sm-5">
                                <input type="text" readonly class="form-control" id="animalesAutoctonos" value="{{datosEspecificos.animalesautoctonos}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <hr>
                            <p class="fs-5 text-center">Actividades Ofrecidas</p>
                            <div class="col-sm-12" style="margin-left: 3rem;">
                                {{#each actividades}}
                                <p><i class="fas fa-check-circle" style="color: yellowgreen;"></i>{{nombre}}</p>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="precio" class="col-sm-4 col-form-label text-center">Precio</label>
                            <div class="col-sm-7">
                                <input type="number" readonly class="form-control" id="precio" value="{{datosEspecificos.precio}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="dificultad" class="col-sm-5 col-form-label text-center">Dificultad</label>
                            <div class="col-sm-5">
                                <input type="text" readonly class="form-control" id="dificultad" value="{{datosEspecificos.dificultad}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="" class="col-sm-2 col-form-label text-center">Duración</label>
                            <div class="col-sm-4">
                                <div class="input-group mb-3">
                                    <input type="number" style="border-bottom-left-radius: 0.25rem; border-start-start-radius:0.25rem ;" class="form-control" max="24" min="0" value="{{datosEspecificos.duracion.horas}}" id="horas" name="duracionHoras">
                                    <span class="input-group-text">Horas</span>
                                    <input type="number" class="form-control" max="59" min="0" value="{{datosEspecificos.duracion.minutos}}" id="minutos" name="duracionMinutos">
                                    <span class="input-group-text">Minutos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <div class="col-sm-11" style="margin-left: 3rem;">
                                <label for="recomendaciones" class="form-label">Recomendaciones</label>
                                <textarea class="form-control" readonly id="recomendaciones" rows="5" style="width: 96%;">{{datosEspecificos.recomendaciones}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="mb-3 row">
                            <hr>
                            <p class="fs-5 text-center">Actividades Ofrecidas</p>
                            <div class="col-sm-12" style="margin-left: 3rem;">
                                {{#each actividades}}
                                    <p><i class="fas fa-check-circle" style="color: yellowgreen;"></i>{{nombre}}</p>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
         <div class="d-flex justify-content-between">
            <a role="button" class="btn btn-secondary mt-3" href="/solicitudes/aprobadas"><i class="fas fa-chevron-circle-left"></i> Volver</a>
            <button type="button" class="btn btn-danger align-self-center" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-trash-alt"></i> Eliminar</button>
         </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar {{emp.nombreemprendimiento}} de TURISTIK?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a role="button" class="btn btn-danger" href="/solicitudes/aprobadas/eliminar/{{emp.idemprendimiento}}">Eliminar</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const linkactivo=document.getElementById("SolicitudesAprobadas")
        linkactivo.classList.add('active')
    </script>
    <script>
      var swiper = new Swiper(".mySwiper", {

        spaceBetween: 30,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
        autoHeight:true
      });
    </script>